{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->

    <div class="card mx-auto shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 380px; margin-top:100px;">
    {% include 'includes/alertas.html'%}
        <div class="card-body">
            <h4 class="card-title mb-4 text-center">Cambiar contraseña</h4>
            <form action="{% url 'resetPassword' %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Crea nueva contraseña" name="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirma nueva contraseña" name="confirm_password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-block"> Cambiar contraseña </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">No tiene cuenta? <a href="{% url 'registerUser' %}">Registrarse</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}