{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
    {% if not carrito_items %}
        <h2 class="text-center">Su carrito de compra esta vacio </h2>
        <br>
        <div class="text-center">
            <a href="{% url 'almacen'%}" class="btn btn-warning">Continuar viendo</a>
        </div>
    {% else %}
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Productos</th>
                                <th scope="col" width="120">Cantidad</th>
                                <th scope="col" width="120">Precio</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for carrito_item in carrito_items %}
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="{{carrito_item.producto.imagen.url}}"class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="{{ carrito_item.producto.get_url }}" class="title text-dark">{{ carrito_item.producto.nombre_producto}}</a>
                                            <p class="text-muted small">
                                            {% if carrito_item.variaciones.all %}
                                                {% for item in carrito_item.variaciones.all %}
                                                   {{ item.variacion_categoria | capfirst}} :{{ item.valor_variacion | capfirst }} <br>
                                                {% endfor %}    
                                            {% endif %}
                                            </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <!-- col.// -->
                                    <div class="col">
                                        <div class="input-group input-spinner">
                                            <div class="input-group-prepend">
                                                <a href="{% url 'remove_carrito' carrito_item.producto.id %}" class="btn btn-light" type="button" id="button-plus"> <i
                                                        class="fa fa-minus"></i> </a>
                                            </div>
                                            <input type="text" class="form-control" value="{{carrito_item.cantidad}}">
                                            <div class="input-group-append">
                                                <a href="{% url 'add_carrito' carrito_item.producto.id %}" class="btn btn-light" type="button" id="button-minus"> <i
                                                        class="fa fa-plus"></i> </a>
                                            </div>
                                        </div> <!-- input-group.// -->
                                    </div> <!-- col.// -->
                                </td>

                                <td>
                                    <div class="price-wrap">
                                        <var class="price">${{ carrito_item.sub_total}}</var>
                                        <small class="text-muted"> ${{carrito_item.producto.precio}}</small>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'delete_carrito_item' carrito_item.producto.id %}" class="btn btn-danger"> Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-3">

                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Precio total:</dt>
                            <dd class="text-right">${{ total }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Impuesto:</dt>
                           <dd class="text-right"> ${{ impuesto }}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Gran total: </dt>
                            <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="{% static './images/misc/payments.png' %}" height="26">
                        </p>
                        <a href="./place-order.html" class="btn btn-warning btn-block"> Finalizar compra</a>
                        <a href="{% url 'almacen'%}" class="btn btn-light btn-block">Continuar viendo</a>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->


        </div> <!-- row.// -->
        {% endif %}
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}